/*! HTML5 Boilerplate v6.0.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




#background{
    display: table;
    background: url("../img/BCGR.png");
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;

}

#content{
    width: 600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 1.5%;
    position: relative;
}

@media screen and (min-width: 1370px) {
    #content{
        width: 44%;
    }
}

@media all and (max-width: 640px) {
    #content{
        width: 100%;
        padding: 0 5.5%;
    }
}
                        /* *********************  %%% top_bar  %%% ******************* */
#top_bar{
    overflow: hidden;
}

#agora{
    position: absolute;
}

#agora img{
    height: 3vw;
    margin-top: 0.5vw;
    width: auto;
}

/****** buttons**********/


#top_bar .button{
    width: 66px;
    padding: 2px 2px;
    border-radius: 2px;
    margin-top: 10px;
}

#top_bar .register{
    background-color: #e9e9e9;
    position: absolute;
    right: calc(1.5% + 80px);
}

#top_bar .login{
    background-color: #2595b7;
    position: absolute;
    right: 1.5%;
}

#top_bar .button .pop_up{
    position: absolute;
    z-index: -999;
    right: 0px;
    top: 23px;
    background-color: #e9e9e9;
    border-radius: 4px;
    padding: 11px;
}

#top_bar .login .pop_up{
    position: absolute;
    right: 0px;
    top: 23px;
    background-color: #2595b7;
    border-radius: 4px;
    padding: 0px;
    padding-top: 11px;
    width: 230px;
}

#top_bar .login .pop_up #facebook{
    margin-bottom: 11px;
}

#top_bar .login .pop_up .sing_ups::after{
    content: '';
    width: 192px;
    border-top: 1px solid #49a3be;
    border-bottom: 1px solid #227790;
    position: absolute;
    top: 79px;
    left: 0;
}

.pop_up .sing_ups button{
    font-size: 11px;
    height: 26px;
    width: 208px;
    margin-bottom: 4px;
}

.pop_up .sing_ups img{
    padding: 1px 7px 0;
    height: 16px;
}

#bottom_pop_up{
    background-color: #228bab;
    overflow: hidden;
    padding: 11px;
    border-radius: 4px;
}

#bottom_pop_up #username{
    width: 100%;
}

#top_bar .login .pop_up #password{
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding-right: 8px;
}

#top_bar .login .pop_up #submit{
    width: 30%;
}

#top_bar .button:hover .pop_up{
    z-index: 999;

}

.pop_up #sing_up_data #submit{
    width: 175px;
}

.pop_up #sing_up_data #submit input{
    padding: 8px 0;
    font-size: 13px;
}

#top_bar .button::before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: #959595 0 2px 5px;
    -moz-box-shadow: #959595 0 2px 5px;
    border-radius: 2px;
    box-shadow: #959595 0 2px 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#sing_up_data #checkbox{
    font-size: 11px;
    text-align: left;
    color: white;
    margin-top: 8px;
    position: relative;
}

#sing_up_data #checkbox input{
    width: 13px;
    margin-right: 3px;
}

#sing_up_data #checkbox a{
    color: white;
    text-decoration: none;
    padding-left: 25px;
}

#sing_up_data #checkbox img{
    left: 111px;
    top: 2px;
    position: absolute;
}

/*************** top_bar responsiveness ***********/
@media all and (max-width: 1100px) {
    #agora img{
        margin-top: 10px;
        height: 30px;
    }

    #top_bar .button{
        margin-top: 10px;
    }
}

@media all and (max-width: 640px) {
    #top_bar .register{
        right: calc(5.5% + 80px);
        top: 10px;
    }

    #top_bar .login{
        right: 5.5%;
        top: 10px;
    }

    #agora{
        top: 10px;
    }
}

@media screen and (max-width: 640px) {

    #agora img{
        margin-top: 10px;
    }

    #top_bar .button{
        margin-top: 10px;
    }
}


                          /********************* %%% video and owl %%% ****************************/
#video_and_owl{
    position: relative;
}

#owl{
    position: absolute;
    top:-95px;
    left: 25%;
}

#owl img{
    height: 105px;
    width: auto;
}

#video{
    margin-top: 116px;
    padding: 7px;
    background-color: white;
    border-radius: 2px;
}

#video iframe{
    width: 100%;
    height: 300px;
}

#own_an_account{
    position: relative;
}

#own_an_account:before, #own_an_account:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
}

#own_an_account:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}


/*************** video and owl responsiveness ***********/

@media screen and (max-width: 640px) {

    #video iframe {
        height: 47vw;
    }
}


@media all and (max-width: 570px) {
    #video{
        margin-top: 146px;
    }


}

@media all and (max-width: 500px) {
    #owl{
        left: 15%;
    }
}


                /********************* %%% bottom content %%% ****************************/
#bottom_content{
    overflow: hidden;
}

#bottom_content .content_bar{
    margin-top: 30px;
    float: left;
    width: 47%;
    box-sizing: border-box;
    margin-bottom: 30px;
}

                 /********************* left bottom ****************************/
#bottom_content .left{
    background-color: #f3f3f3;
    margin-right: 3%;
    border-radius: 4px;
}

#forms_and_buttons{
    margin: 20px auto;
    width: 80%;
}

.sing_ups button{
    width: 100%;
    margin-top: 1px;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Arial", serif;
    color: white;
    line-height: 0.85;
    text-align: left;
    text-shadow: 0px -1px 0px rgba(35, 52, 86, 0.9);
    cursor: pointer;
}

.sing_ups #linkedin{
    background-color: #005e91;
    border-color: #1080bd;
}

.sing_ups #facebook{
    background-color: #4a6499;
    border-color: #738dc5;
}

.sing_ups img{
    padding: 3px 7px 0;
}

#or h3{
    margin: 5px 0;
    font-size: 14px;
    font-family: "Arial";
    color: #7c7c7c;
    font-weight: bold;
    line-height: 1.308;
    position: relative;
}



#or h3:after{
    content: '';
    width: 42%;
    position: absolute;
    left: 56%;
    top: 9px;
    border: 1px dashed #7c7c7c;
}

#or h3:before{
    content: '';
    width: 43%;
    position: absolute;
    left: 1%;
    top: 9px;
    border: 1px dashed #7c7c7c;
}

/********************* sing up data****************************/
#sing_up_data{
    overflow: hidden;
}

#sing_up_data div{
    float: left;
}

#sing_up_data input{
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 11px;
    font-family: "Arial";
    color: rgb(88, 88, 88);
    text-transform: uppercase;
    line-height: 1.545;
    text-align: left;
    border: 1px solid #c9c9c9;
}

#sing_up_data input:on{
    background-color: #7c7c7c;
}

#first_name, #last_name{
    width: 50%;
    box-sizing: border-box;
}

#first_name{
    padding-right: 4px;
}

#last_name{
    padding-left: 4px;
}

#password, #mail{
    margin-top: 8px;
    width: 100%;
}

#by_creating_an_account {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(67, 67, 67);
    line-height: 1.308;
    text-align: left;
    margin-top: 8px;
}

#by_creating_an_account a{
    color: #2595b7;
    text-decoration: none;
}

#by_creating_an_account a:hover{
    text-decoration: underline;
}

#sing_up_data #submit{
    width: 100%;
    margin-top: 8px;
}

#sing_up_data #submit input {
    font-size: 18px;
    font-family: "Ariel", serif;
    color: white;
    line-height: 0.654;
    background-color: #cf5a08;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}


#video:before{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
}

video:after{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
}
video:after
{
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
/********************* own an account ****************************/

#own_an_account{
    background-color: #dedede;
    text-align: right;
    border-radius: 4px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}

#own_an_account h4{
    margin: 0px;
    font-size: 12px;
    font-family: "Arial";
    color: rgb(67, 67, 67);
    line-height: 1.133;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    font-weight: 200;
    width: 50%;
    display: inline;
}

#own_an_account button{
    display: inline;
    background-color: #a6a5a5;
    color: black;
    border-radius: 6px;
    padding: 2px 8px;
    margin: 10px 10% 10px 3px;
    cursor: pointer;
}



/**************** left bottom responsiveness ******************/

@media all and (max-width: 640px) {
    #bottom_content .content_bar{
        width: 100%;
    }

    #bottom_content .left{
        margin-right: 0px;
    }
}

                     /********************* right bottom ****************************/
#bottom_content .right{
    margin-left: 3%;
}

.right h2 {
    text-align: left;
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 6px;
}

.right p{
    text-align: left;
    font-size: 12px;
    margin: 10px 0;
}

.right span{
    font-weight: 600;
    font-size: 13px;
}

.right #p_mail{
    text-align: left;
    font-size: 19px;
}

#invent_icons{
    box-shadow: #7c7c7c;
    position: relative;
}

#invent_icons img{
    padding: 10px 6px;
    cursor: pointer;
}

#invent_icons img:hover{
    -webkit-filter: brightness(0);
    -moz-filter: brightness(0);
    -o-filter: brightness(0);
    -ms-filter: brightness(0);
    filter: brightness(0);
}

#invent_icons:after{
     content: '\00a0';
     background-image: radial-gradient(at 50% 0, rgba(50, 50, 50, 0.4) 0%, rgba(80, 80, 80, 0.2), transparent 75%);
     background-size: 100% 16px;
     background-repeat: no-repeat;
     float:left;
     width:100%;
 }

#invent_icons:before{
    content: '\00a0';
    background-image: radial-gradient(at 50% 0, rgba(50, 50, 50, 0.4) 0%, rgba(80, 80, 80, 0.2), transparent 75%);
    background-size: 100% 16px;
    background-repeat: no-repeat;
    float:left;
    width:100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/********************* error field js ****************************/
.errorField{
    background-color: rgba(255, 0, 0, 0.4);
    border-color: red;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    display: inline-block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
